html, body {
  background-color: $white1;
  color: $black;
}

body, input, select, textarea, button, a {
   font-family: 'Brandon Grotesque', sans-serif;
}

p, address {
    font-family: $brandon;
    font-size: rem(15px);
    line-height: rem(20px);
}

.fs_20 {
	font-size: 20px!important;
}
.fs_18 {
	font-size: 18px!important;
}
.fs_16 {
	font-size: 16px!important;
}
.fs_15 {
	font-size: 15px!important;
}
.fs_14 {
	font-size: 14px!important;
}
.fs_13 {
	font-size: 13px!important;
}
.fs_12 {
	font-size: 12px!important;
}
.fs_11 {
	font-size: 11px!important;
}