.navbar {

	.navbar-brand .header-logo {
		width: 132px;
	}

	.nav.nav-pills {
		padding-top: 6px;

		.nav-item {

			&:first-child { margin-left: 0; }

			&:last-child img:last-child { display: none; }

			a {
				color: #fff;
				border-radius: 0;
				font-size: 14px;
				font-weight: 500;
				padding: 0;
			}
		}

		.btn-arrow {
			position: absolute;
			top: 0px;
			right: -13px;
		}

		.divider {
			margin-top: -2px;
			margin-left: 10px;
			margin-right: 10px;
			color: #fff;
		}
	}
}


@media (min-width: 1200px) {
	.nav-item {
		background: transparent;
		margin: 0 15px;
	}
}

@media (min-width: 992px) {
	.nav-item {
		background: transparent;
		margin: 0 11px;
	}
}

@media (max-width: 991px) {
	#toggleNav {
		padding: 0;
		outline: none;
		border: none;


		#nav-icon3 {
			position: relative;
			width: 30px;
			height: 25px;
			top: 3px;
			z-index: 1;

			span {
				display: block;
				position: absolute;
				height: 4px;
				width: 30px;
				background: #fff;
				border-radius: 9px;
				opacity: 1;
				right: 0;

				&:fist-child {
					top: 0;
				}

				&:nth-child(2), 
				&:nth-child(3) {
					top: 10px;
				}

				&:nth-child(4) {
					top: 20px;
				}
			}
		}
	}
	[aria-expanded="true"] #nav-icon3 {
		span {
			&:first-child {
				display: none !important;
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				display: none !important;
			}	
		}
	}
}


@media (max-width: 991px) {
	.navbar {
		padding: .25rem;

		.navbar-brand .header-logo {
			width: 100px;
		}

		#toggleNav {
			&.navbar-toggler {

			}
		}
	}

	.navbar-collapse.collapse .nav.nav-pills {
		display: flex !important;
		flex-direction: column;
		margin-top: 10px;
	}
	.navbar-collapse.collapsing,
	.navbar-collapse.collapse {
		opacity: 0;
	}

	.navbar-collapse.collapse.show {
		opacity: 1;

		.nav.nav-pills {
			height: 100vh;

			.divider { display: none; }

			.nav-item  {
				display: block;
				float: none;
				text-align: center;
				margin-bottom: 20px;
				padding: 5px;
				width: 100%;

				&:last-child {
					.nav-link {
						background-color: #fff;
						color: #354052;
						margin: 0 auto;
						max-width: 200px;
						line-height: 21px;
						padding: 12px;
					}

					img {
						right: 25px;
						color: #354052;
						top: 15px;

						&:first-child { display: none; }

						&:last-child { display: block; }
					}
				}
			}
		}
	}
}

@media (max-width: 391px) {
	.navbar { padding: 0; }

}